<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script>window._publish_version_ = "<%= htmlWebpackPlugin.options.publishVersion %>";</script>
  <script src="<%= htmlWebpackPlugin.options.externalScripts.react %>"></script>
  <script src="<%= htmlWebpackPlugin.options.externalScripts.reactDOM %>"></script>
  <script src="<%= htmlWebpackPlugin.options.externalScripts.reactRouter %>"></script>
  <script src="<%= htmlWebpackPlugin.options.externalScripts.propTypes %>"></script>
</head>
<body>
</body>
</html>